/* Ex-6 */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    margin: 0px auto;
    max-width: 1900px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* start cod header */
.heder-box{
    display: flex;
    justify-content: center;
}
.header {
    /* background-color: rgb(33, 37, 39); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}
.header-top{
    /* background-color: rgb(40, 37, 63); */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#text-heder{
    width: 32%;
}

.header-top-between{
    display: flex;
    width: 32%;
}
.htb-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.htb-left div:nth-child(1){
    margin-right: 20px;
}
.htb-left p{
    opacity: 50%;
}
.htb-left i {
    color: orange;
    font-size: xx-large;
}
.htb-right i {
    color: orange;
    font-size: xx-large;
}
.htb-right p{
    opacity: 50%;
}

.htb-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.htb-right div:nth-child(1){
    margin-right: 20px;
}

.header-top-righ{
    /* background-color: springgreen; */
    width: 32%;
}
#text-heder span{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
#text-heder p {
    font-size: large;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    position: relative;
    bottom: 10px;
}
.header-top-righ{
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-top-righ button {
    width: 35%;
    height: 60%;
    background-color: #ff9d09;
    border: none;
    /* border-radius: 15px; */
}


/* header botton */
.header-bottom{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(48, 0, 48);
}
.h-bottom-left{
    width: 50%;
    margin-left: 10px;
}
.h-bottom-left ul{
    display: flex;
    flex-direction: row;
}
.h-bottom-left li{
    margin-right: 20px;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.h-bottom-right{
    width: 50%;
    display: flex;
    justify-content: end;
}
.h-bottom-right div{
    height: 40%;
    border-radius:15px ;
    box-shadow: 0PX 0PX 5PX 2px;
    border: 1px solid rgba(255, 255, 255, 0.212);
    padding-right: 10px;
    margin-right: 4px;
}
.h-bottom-right input {
    color: white;
    font-family: 'Roboto Slab', serif;
    width: 90%;
    height: 40px;
    border: none;
    background-color: #66339900;
    padding-left: 15px;
}
.h-bottom-right i{
    color: rgb(255, 255, 255);
}
/* ****************************start main box */
.main-box{
    width: 100%;
    background-color: rgb(24, 24, 138);
    position: relative;
}
.main-box-image{
    width: 100%;
    height: 80vh;
}
.main-box-image img{
    width: 100%;
    height: 100%;
    opacity: 50%;
}
.text-main-box span{
    color: rgb(253, 75, 21);
    display: block;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
.text-main-box{
    position: absolute;
    left: 50px;
    top: 90px;
}
.text-main-box p{
    /* position: absolute; */
    color: rgb(253, 75, 21);
    display: block;
    font-size: large;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
.btn {
    position: absolute;
    width: 15%;
    left: 50px;
    bottom: 100px;
}
.btn button {
    background-color: rgb(253, 75, 21);
    width: 100%;
    height: 40px;
    color: white;
    border-radius: 20px;
    border: 1px  solid rgba(24, 24, 138, 0.342);
    font-family: 'Roboto Slab', serif;
    font-size: larger;
}
/* start cod foter */
.foter-box{
    display: flex;
    flex-direction: row;
}
.foter-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: rgb(253, 75, 21);
    padding: 20px 0px;
}
.foter-box1-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foter-box1-image i{
    font-size: xx-large;
    color: white;
}
.foter-box-1-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.foter-box-1-text span{
    margin:10px 0px;
    font-family: 'Roboto Slab', serif;
    font-size: large;
}
.foter-box-1-text p{
    margin: 2px 0px;
    font-family: 'Roboto Slab', serif;
    font-size: small;
}